<% if c.starts_at < Time.now && c.ends_at > Time.now %>
<div class="row mt-5 contest">
<% else %>
<div class="row mt-5">
<% end %>
  <div class="col">
  	<div class="row">
  		<div class="col h4 d-flex justify-content-center"><a href="<%= c.get_path %>" class="contest-title-link"><%= c.title %></a></div>
    </div>
  	<div class="row mt-3">
  		<div class="col d-flex justify-content-center fw-bold h6">For observations made between <%= c.starts_at.strftime '%Y/%m/%d' %> and <%= c.ends_at.strftime '%Y/%m/%d' %></div>
    </div>
  	<div class="row mb-3">
  		<div class="col d-flex justify-content-center fs-italic h6">Submissions accepted up to <%= c.last_submission_accepted_at.strftime '%Y/%m/%d' %></div>
    </div>
  </div>
</div>
<div class="row my-3 d-flex justify-content-center">
	<div class="col-10 d-flex justify-content-center"><%= c.description&.html_safe || '' %></div>
</div>

<% if c.starts_at>Time.now %>
  <div class="row my-3">
  	<div class="col d-flex justify-content-center fw-bold countdown" data-starts-at="<%= c.starts_at %>" data-id="<%= c.id %>" id="countdown-<%= c.id %>">
    </div>		
  </div>
	<script>	

</script>
<% end %>

<% if c.starts_at<Time.now %>
	<%= render partial: 'statistics', locals: { object: observations_object } %>
<% end %>
